
.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
  background-image: linear-gradient(to right bottom, #fcb057, #fec259, #ffd45e, #fde666, #f9f871);
}
main > section > h1{ font-size: 2.5rem; }
main > section > span{ font-size: 1.55rem }

.portfolio-text{
  text-align: center;
  margin: 1em 0;
  font-size: 1.25rem;
  /* border: plum solid 5px; */
}

.portfolio-subtitle{ font-weight: 300;}

/*Actual list*/
.portfolio-list{
  padding: 1em;
  width: 60%; /*70 y 90%*/
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem,1fr)); /* */
}









.cards-container {
  display: grid;
  grid-template: auto / 1fr;
  padding: 0 4rem;
  gap: 3rem;
  margin-bottom: 8rem;
}
@media only screen and (max-width:500px){
  .cards-container {
    font-size: 0.5rem;
    padding: 0 1em;
    text-align: center;
  }
}
@media only screen and (min-width: 1680px) {
  .cards-container {
    grid-template: auto / repeat(2, 1fr);
  }
}

@media only screen and (min-width: 2500px) {
  .cards-container {
    grid-template: auto / repeat(3, 1fr);
  }
}