
.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefae0;
  /* border: plum solid 5px; */
}
main > section > h1{ font-size: 2.5rem; }
main > section > span{ font-size: 1.55rem }

.portfolio-text{
  text-align: center;
  margin: 1em 0;
  font-size: 1.25rem;
  /* border: plum solid 5px; */
}

.portfolio-subtitle{ font-weight: 300;}

/*Actual list*/
.portfolio-list{
  padding: 1em;
  width: 60%; /*70 y 90%*/
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem,1fr)); /* */
}

@media (max-width: 800px) {
}
@media (min-width: 1150px) {
  .portfolio-list{
    grid-template-columns: repeat(auto-fill, minmax(25rem,1fr)); /* */
  }
}