
.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: #f2e9e4; */
  /* background-color: #ccddbb */
  background-color: #fefae0;
  /* background-color: #a2d2ff; */
  /* margin-bottom: 2em; */
}
.portfolio-text{
  text-align: center;
  margin: 1em 0;
  font-size: 1.25rem;
}

.portfolio-subtitle{ font-weight: 300;}

/*Actual list*/
.portfolio-list{
  padding: 1em;
  width: 60%; /*70 y 90%*/
    
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem,1fr)); /* */
}

/* grid-auto-rows: rem; */