.card{
  display: flex;
  flex-direction: column;

  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 25%);
  background-color: #a2d2ff;
  max-width: 100%;
  margin:0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.card:hover{
  transform: scale(1.05) ;
}
.card-img{ 
  max-width: 100%;
}

.card-h3{
  margin: 1em auto;
  /* margin-bottom: 0.25em ; */
}
.card-p{
  font-weight: 300;
  max-width: 100%;
  margin: 0 1em 1em 1em;
}

.card-button{
  border: none;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  padding: 1em;
  cursor: pointer;
}

/* .card-git{    font-size: 250%;  } */

.card-a{
  margin: 1em auto;
  text-decoration: none;
  color: #020202;
}
.card-button:hover{  color: black;  background-color: white;}
.card-git:hover{  color: black;  background-color: white;  border-radius: 50%;}

/*---------------------------------------*/

@media screen and (max-width: 650px) {
  .card {
    max-width: 70%;
    font-size: 0.75rem;
  }
  .card-button{
    font-size: 0.75rem;
  }
}